@import url(https://fonts.googleapis.com/css?family=Poppins);
*   {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }

body {
    align-items: center;
    background-attachment: fixed;
    background-image: url(img/background.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 95vh; /* Set the height to cover the entire viewport */
    margin: 0;
    overflow-y: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

body.fade-in {
    opacity: 1;
  }
  
/* Fade-out effect when navigating to a new page */
body.fade-out {
    opacity: 0;
  }
  

.logo {
    margin-top: 40px;
    max-width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 600px) {
    .logo {
        width: 100%;
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    .logo {
        width: 75%;
    }
}

@media (min-width: 1201px) {
    .logo {
        width: 50%;
    }
}

h3 {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 10px;
}

h4{
    color: #ffffff;
}

h5 {
    color: #FFCC00;
}

h6 {
    margin-bottom: 5px;
}

.login {
    text-align: center;
    margin: 20px auto;
    padding: 30px;
    padding-top: 15px;
    border-radius: 30px;
    background-color: #9C0507;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    height: auto;
    box-shadow: 1px 4px 6px  rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

.input-group_input {
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline: 2px solid #fff;
    transition: outline-color 250ms;
    background-color: transparent;
}

.input-group_input:focus {
    outline-color: #9C0507;
    box-shadow: 0 0 5px 5px rgba(128, 0, 0, 0.25), 0 0 10px 5px rgba(255, 215, 0, 0.25);
    transition: box-shadow 0.3s ease, outline-color 1s ease, transform 0.3s ease;
}

.input-group_label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 10px);
    transform-origin: left;
    color: #ffffff;
    background-color: transparent;
    transition: transform 200ms;
    cursor: text;
}

.input-group_input:focus + .input-group_label,
.input-group_input:valid + .input-group_label {
    transform: translate(20px, -12px) scale(0.9);
    color: #fff;
    background-color: #9C0507;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    cursor: text;
}

input[type="checkbox"] {
    margin-bottom: 5px;
}

input[type="submit"] {
    width: 75%;
    background-color: #E4A001;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

input[type="submit"]:hover {
    background-color: #cb8f02;
}

/* Additional media query for very small screens */
@media (max-width: 420px) {
    h3 {
        font-size: 24px;
    }

    .login {

        margin-left: 10px;
        margin-right: 10px;
    }


}

#eyeIcon {
    color: #ffffff;
}

.forgot {
    color: #567fc0;
    font-size: 14px;
    font-weight: 500;
    text-shadow: 0.3px 0.3px #18181a;
    cursor: pointer;
    text-decoration: none;                                  
}

/*
    input[type="text"],
    input[type="number"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box; /* Ensure that padding and border are included in the width 
    }

    input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    input[type="submit"]:hover {
        background-color: #45a049;
    }

    input[type="submit"]:focus {
        outline: none; /* Remove outline when button is focused 
    }
*/

/* Footer styling with background opacity */
footer {
    background-color: rgba(51, 51, 51, 0.5); /* Black with 50% opacity */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed; /* Fixes the footer at the bottom */
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 14px; /* Smaller font size */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adds space between elements */
    transition: background-color 0.3s ease; /* Transition effect for background color */
    z-index: 1000; /* Ensures it stays on top of other elements */
}

.link-button {
    background: none; /* No background */
    border: none; /* No border */
    color: #007bff; /* Link color */
    font: inherit; /* Inherit font properties */
    cursor: pointer; /* Pointer cursor on hover */
    text-decoration: underline; /* Underline to mimic link */
}

.link-button:hover {
    text-decoration: none; /* Remove underline on hover */
    color: #69b2ff; /* Darker color on hover */
}

/* Footer hover effect with animation */
footer:hover {
    background-color: rgba(51, 51, 51, 0.9); /* Black with 90% opacity */
}


