
/*=============================================================
    Authour URI: www.binarycart.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
/*==============================================
    GENERAL  STYLES    
    =============================================*/
body {
    font-family: 'Open Sans', sans-serif;
}

 #wrapper {
    width: 100%;
    background:#202020;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background:#F3F3F3;
   
}
#page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:#fff!important;
    padding:10px;
    min-height:1200px;
}

.text-center {
    text-align:center;
}
.no-boder {
    border:1px solid #f3f3f3;
}
h2 {
    color: rgb(0, 0, 0);
}
h4 {
    padding-top:10px;
}
.square-btn-adjust {
    border: 0px solid transparent; 
   -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;

}
p {
    font-size:16px;
    line-height:25px;
    padding-top:20px;
}
/*==============================================
   DASHBOARD STYLES    
    =============================================*/
.panel-back {
    background-color:#F8F8F8;

}
   .noti-box {
min-height: 100px;
padding: 20px;
}

    .noti-box .icon-box {
display: block;
float: left;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}
.text-box p{
    margin: 0 0 3px;
}
.main-text {
    font-size: 35px;
    font-weight:600;
}
.set-icon {
    -webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;

}
    .bg-color-brown {
background-color: #c05d00;
color: #fff;
}
 .bg-color-purple {
background-color: #A95DF0;
color: #fff;
}
  .bg-color-red {
background-color: #DB0630;
color: #fff;
}
  .bg-color-yellow {
background-color: #fffb00e5;
color: #fff;
}
.bg-color-green {
    background-color: #00CE6F;
    color: #fff;
    }

 .icon-box-right {
display: block;
float: right;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}

 .main-temp-back {
background: #8702A8;
color: #FFFFFF;
font-size: 16px;
font-weight: 300;
text-align: center;
}
 .main-temp-back .text-temp {
font-size: 40px;
}
.back-dash {
    padding:20px;
    font-size:20px;
    font-weight:500;
      -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
background-color:#2EA7EB;
color:#fff;
}
    .back-dash p {
        padding-top:16px;
        font-size:13px;
        color:#fff;
        line-height:25px;
        text-align:justify;
    }
    .back-footer-green {
    background-color: #009B50;
    border-top: 0px solid #fff;
}
     .back-footer-red {
    background-color: #AF0000;
    border-top: 0px solid #fff;
}
     .color-bottom-txt {
   color: #000;
font-size: 16px;
line-height: 30px;
}

/* declare a 7 column grid on the table */
#calendar {
	width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

#calendar tr, #calendar tbody {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
 width: 100%;
}

caption {
	text-align: center;
  grid-column: 1 / -1;
  font-size: 130%;
  font-weight: bold;
  padding: 10px 0;
}

#calendar a {
	color: #8e352e;
	text-decoration: none;
}

#calendar td, #calendar th {
	padding: 49px;
	box-sizing:border-box;
	border: 1px solid #ccc;
}

#calendar .weekdays {
	background: #8e352e;  
}


#calendar .weekdays th {
	text-align: center;
	text-transform: uppercase;
	line-height: 20px;
	border: none !important;
	padding: 10px 6px;
	color: #fff;
	font-size: 13px;
}

#calendar td {
	min-height: 16.666%;
  display: flex;
  flex-direction: column;
}

#calendar .days li:hover {
	background: #d3d3d3;
}

#calendar .date {
	text-align: center;
	margin-bottom: 5px;
	padding: 4px;
	background: #333;
	color: #fff;
	width: 20px;
	border-radius: 50%;
  flex: 0 0 auto;
  align-self: flex-end;
}

#calendar .event {
  flex: 0 0 auto;
	font-size: 8px;
	border-radius: 4px;
	padding: 5px;
	margin-bottom: 5px;
	line-height: 14px;
	background: #e4f2f2;
	border: 1px solid #b5dbdc;
	color: #009aaf;
	text-decoration: none;
}

#calendar .event-desc {
	color: #666;
	margin: 3px 0 7px 0;
	text-decoration: none;	
}

#calendar .other-month {
	background: #f5f5f5;
	color: #666;
}

/* ============================
				Mobile Responsiveness
   ============================*/


@media(max-width: 768px) {

	#calendar .weekdays, #calendar .other-month {
		display: none;
	}

	#calendar li {
		height: auto !important;
		border: 1px solid #ededed;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
	}
  
  #calendar, #calendar tr, #calendar tbody {
    grid-template-columns: 1fr;
  }
  
  #calendar  tr {
    grid-column: 1 / 2;
  }

	#calendar .date {
		align-self: flex-start;
	}
}
/*==============================================
    MENU STYLES    
    =============================================*/


.user-image {
    margin: 25px auto;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
max-height:170px;
max-width:170px;
}

.navbar-cls-top .navbar-brand {
	color: #fff;
background: #C90000;
width: 260px;
text-align: center;
height: 60px;
font-size: 30px;
font-weight: 700;
}
.active-menu {
    background-color:#C90000!important;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}
.sidebar-collapse , .sidebar-collapse .nav{
	background:none;
}
.sidebar-collapse .nav {
	padding:0;
}
.sidebar-collapse .nav > li > a {
	color:#fff;
	background:#202020;
	text-shadow:none;
	
}
.sidebar-collapse > .nav > li > a {
	padding:15px 10px;
}
.sidebar-collapse > .nav > li {
	border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	
	background:#0A0A0A;
	outline:0;
}

.nav-second-level > li > a:before ,
.nav-third-level > li > a:before {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:15px;
	height:1px;
	background:#ff0000;
	top:20px;
}
.nav-second-level > li > a:after,
.nav-third-level > li > a:after {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:1px;
	height:100%;
	background:#ff0000;
	top:0px;
	z-index:10;
}
.nav-second-level  > li:last-child > a:after,
.nav-third-level  > li:last-child > a:after {
	height:50%;
}
.nav-third-level > li > a:after,
.nav-third-level > li > a:before  {
	left:40px;
}
.navbar-side {
	border:none;
	background-color: #202020;
	
}
.navbar-cls-top {
	background:#4D4D4D;
	border-bottom:none;
	
}
.navbar-cls-top .navbar-brand:hover {

background: #C90000;
color:#fff;

}

.navbar-default {
border:0px solid black;
     
}
.navbar-header {
    background: #A70303;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #B40101;
}
.navbar-default .navbar-toggle {
border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #FFF;
}
.nav > li > a > i {
    margin-right:10px;
}
/*==============================================
    UI ELEMENTS STYLES     
    =============================================*/
.btn-circle {
width: 50px;
height: 50px;
padding: 6px 0;
 -webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
text-align: center;
font-size: 12px;
line-height: 1.428571429;
}

/*==============================================
    MEDIA QUERIES     
    =============================================*/
 
 @media(min-width:768px) {
     #page-wrapper{
               margin: 0 0 0 260px;
        padding: 15px 30px;
        min-height: 1200px;
		
    }
	
	
    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
    }

   .navbar {
 border-radius: 0px; 
}
   
}



    .card .card-block p {
        line-height: 25px;
    }
    
    /*==============================================
        MEDIA QUERIES     
        =============================================*/
     
     @media(min-width:768px) {
         #page-wrapper{
                   margin: 0 0 0 260px;
            padding: 15px 30px;
            min-height: 1200px;
            
        }
        .navbar-side {
            z-index: 1;
            position: absolute;
            width: 260px;
        }
    
       .navbar {
     border-radius: 0px; 
    }
       
    }
    /*PROFILE*/
    				                
body{margin-top:20px;}
.avatar{
width:200px;
height:200px;
}		

    /*DOWNLOADABLE FORM*/


    .mt-50 {
        margin-top: 50px
    }
    
    .mb-50 {
        margin-bottom: 50px
    }
    
    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .1875rem
    }
    
    .card-img-actions {
        position: relative
    }
    
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
        text-align: center
    }
    
    .card-title {
        margin-top: 10px;
        font-size: 17px
    }
    
    
    .card-header {
        padding: .9375rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, .02);
        border-bottom: 1px solid rgba(0, 0, 0, .125)
    }
    
    a {
        text-decoration: none !important
    }
    
    .btn-light {
        color: #333;
        background-color: #fafafa;
        border-color: #ddd
    }
    
    .header-elements-inline {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }
    
    @media (min-width: 768px) {
        .wmin-md-400 {
            min-width: 400px !important
        }
    }
    
    .btn-primary {
        color: #fff;
        background-color: #2196f3
    }
    
    .btn-labeled>b {
        position: absolute;
        top: -1px;
        background-color: blue;
        display: block;
        line-height: 1;
        padding: .62503rem
    }


    /*RETURNED TICKET*/

    /* Resetting default browser styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Styling the letter container */
.letter {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #000000;
    font-family: Arial, sans-serif;
}

/* Styling the header */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Styling the main content */
main {
    font-size: 16px;
    line-height: 1.5;
}


/* CALENDAR*/
/* calendar 2 */

/* styles.css */


@media (max-width: 768px) {
    .table-calendar th,
    .table-calendar td {
      padding: 15px;
    }
  }
  
  @media (max-width: 480px) {
    .table-calendar {
      grid-template-columns: repeat(2, 1fr); /* Stack in 2 columns on smaller screens */
    }
  
    .table-calendar th,
    .table-calendar td {
      padding: 5px;
    }
  }

/* General styling for the entire page */
body {
	font-family: Arial, sans-serif;
	background-color: white;
	margin: 0;
}

.wrapper {
	max-width: 1100px;
	margin: 15px auto;
}

/* Calendar container */
.container-calendar {
	background: #ffffff;
	padding: 15px;
	max-width: 900px;
	margin: 0 auto;
	overflow: auto;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-between;
}

/* Event section styling */
#event-section {
	padding: 10px;
	background: #f5f5f5;
	margin: 20px 0;
	border: 1px solid #ccc;
}

.container-calendar #left h1 {
	color: green;
	text-align: center;
	background-color: #f2f2f2;
	margin: 0;
	padding: 10px 0;
}

#event-section h3 {
	color: green;
	font-size: 18px;
	margin: 0;
}

#event-section input[type="date"],
#event-section input[type="text"] {
	margin: 10px 0;
	padding: 5px;
	width: 80%;
}

#event-section button {
	background: green;
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
}

.event-marker {
	position: relative;
}

.event-marker::after {
	content: '';
	display: block;
	width: 6px;
	height: 6px;
	background-color: red;
	border-radius: 50%;
	position: absolute;
	bottom: 0;
	left: 0;
}

/* event tooltip styling */
.event-tooltip {
	position: absolute;
	background-color: rgba(234, 232, 232, 0.763);
	color: black;
	padding: 10px;
	border-radius: 4px;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: none;
	transition: all 0.3s;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.event-marker:hover .event-tooltip {
	display: block;
}

/* Reminder section styling */
#reminder-section {
	padding: 10px;
	background: #f5f5f5;
	margin: 20px 0;
	border: 1px solid #ccc;
}

#reminder-section h3 {
	color: green;
	font-size: 18px;
	margin: 0;
}

#reminderList {
	list-style: none;
	padding: 0;
}

#reminderList li {
	margin: 5px 0;
	font-size: 16px;
}

/* Style for the delete buttons */
.delete-event {
	background: rgb(237, 19, 19);
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	margin-left: 10px;
	align-items: right;
}

/* Buttons in the calendar */
.button-container-calendar button {
	cursor: pointer;
	background: green;
	color: #fff;
	border: 1px solid green;
	border-radius: 4px;
	padding: 5px 10px;
}

/* Calendar table */
.table-calendar {
	border-collapse: collapse;
	width: 100%;
}

.table-calendar td,
.table-calendar th {
	padding: 39px;
	border: 1px solid #e2e2e2;
	text-align: center;
	vertical-align: top;
}

/* Date picker */
.date-picker.selected {
	background-color: #f2f2f2;
	font-weight: bold;
	outline: 1px dashed #00BCD4;
}

.date-picker.selected span {
	border-bottom: 2px solid currentColor;
}

/* Day-specific styling */
.date-picker:nth-child(1) {
	color: red;
	/* Sunday */
}

.date-picker:nth-child(6) {
	color: red;
	/* Friday */
}

/* Hover effect for date cells */
.date-picker:hover {
	background-color: green;
	color: white;
	cursor: pointer;
}

/* Header for month and year */
#monthAndYear {
	text-align: center;
	margin-top: 0;
}

/* Navigation buttons */
.button-container-calendar {
	position: relative;
	margin-bottom: 1em;
	overflow: hidden;
	clear: both;
}

#previous {
	float: left;
}

#next {
	float: right;
}

/* Footer styling */
.footer-container-calendar {
	margin-top: 1em;
	border-top: 1px solid #dadada;
	padding: 10px 0;
}

.footer-container-calendar select {
	cursor: pointer;
	background: #ffffff;
	color: #585858;
	border: 1px solid #bfc5c5;
	border-radius: 3px;
	padding: 5px 1em;
}







.rating-bar {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /
}

.rating-label {
    width: 40px;
    margin-right: 10px;
}

.rating-count {
    margin-left: 10px;
}

.progress-container {
    flex-grow: 1; 
}

.progress-bar {
    width: 22.8%; /* Adjust based on rating */
    background-color: #ff9900;
    height: 20px; /* Adjust height as needed */
}

.csat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .csat-label {
    color: #5cb85c; /* Light green color for the label */
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .csat-percentage {
    font-size: 83px; /* Large font size for the percentage */
    font-weight: bold;
    color: #333; /* Dark gray color for the percentage */
  }

  #npsContainer {
    font-family: sans-serif; /* Or your preferred font */
  }
  
  .nps-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* Adjust spacing as needed */
  }
  
  .nps-label {
    width: 100px; /* Adjust width as needed */
    margin-right: 10px;
  }
  
  .nps-progress-container {
    flex-grow: 1;
  }
  
  .nps-progress-bar {
    height: 10px; /* Adjust height as needed */
    border-radius: 5px; /* Add rounded corners */
  }
  
  /* Emojis (you might use image icons instead) */
  .nps-emoji {
    font-size: 24px; /* Adjust size as needed */
    margin-right: 10px;
  }



/*change profile*/
#upload_label {
    cursor: pointer;
    position: absolute;
    left: 15px;
    top: 12px;
    font-size: 14px;
  }
  #upload_label:hover,
  #upload_label:focus {
    color: #222;
  }
  .avatar {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 2px solid #fff;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    z-index: 2;
    transform: translateZ(0);
    transition: border-color 200ms;
  }
  .avatar--upload-error {
    border-color: #f73c3c;
    animation: shakeNo 300ms 1 forwards;
  }
  @keyframes shakeNo {
    20%,
    60% {
      transform: translateX(6px);
    }
    40%,
    80% {
      transform: translate(-6px);
    }
  }
  .avatar:hover .avatar_upload,
  .avatar--hover .avatar_upload {
    opacity: 1;
  }
  .avatar:hover .upload_label,
  .avatar--hover .upload_label {
    display: block;
  }
  #preview::after {
    content: "Loading...";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: -1;
    line-height: 150px;
    color: #999;
  }
  .avatar_img--loading {
    opacity: 0;
  }
  .avatar_img {
    width: 100%;
    height: auto;
    animation: inPop 250ms 150ms 1 forwards
      cubic-bezier(0.175, 0.885, 0.32, 1.175);
    transform: scale(0);
    opacity: 0;
  }
  @keyframes inPop {
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  .avatar_img--rotate90 {
    transform: rotate(90deg);
  }
  .avatar_upload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    background: #000;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 500ms;
  }
  .upload_label {
    color: #111;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
    padding: 4px;
    border-radius: 3px;
    min-width: 60px;
    width: 100%;
    max-width: 80px;
    margin: auto;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    animation: popDown 300ms 1 forwards;
    transform: translateY(-10px);
    opacity: 0;
    display: none;
    transition: background 200ms, color 200ms;
  }
  @keyframes popDown {
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .upload_label:hover {
    color: #fff;
    background: #222;
  }
  #upload {
    width: 100%;
    opacity: 0;
    height: 0;
    overflow: hidden;
    display: block;
    padding: 0;
    text-align: center;
  }

  

  /*CREATE TICKET*/

  .body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-create {
    margin: 0 auto;  /* Centers the element horizontally */
    width: 100%;  /* Adjust width as needed */
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;  /* Optional for rounded corners */
}
.issue-form .form-group {
    margin-bottom: 50px;
}

.issue-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.issue-form .form-control {
    width: 100%;
    padding: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.issue-form .form-control:focus {
    border-color: #007bff;
    outline: none;
}

.file-upload {
    position: relative;
    border: 2px dashed #ccc;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.file-label {
    display: block;
    pointer-events: none;
}

.file-label span {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.file-label div {
    color: #777;
}



/*SURVEY*/
.body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-survey {
    margin: 0 auto;  /* Centers the element horizontally */
    width: 100%;  /* Adjust width as needed */
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;  /* Optional for rounded corners */
}

h1 {
    font-size: 16px;
    margin-bottom: 20px;
}

.question {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button[type="reset"] {
    background-color: #6c757d;
}

button:hover {
    background-color: #0056b3;
}

button[type="reset"]:hover {
    background-color: #5a6268;
}


/*extension survey*/

h1 {
    font-size: 16px;
    margin-bottom: 20px;
}

.question {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none; /* Prevent manual resizing; remove if you want to allow it */
    box-sizing: border-box; /* Ensures padding and border are included in the element's width and height */
    overflow: hidden; /* Hide scrollbars */
}


.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button[type="reset"] {
    background-color: #6c757d;
}

button:hover {
    background-color: #0056b3;
}

button[type="reset"]:hover {
    background-color: #5a6268;
}



/*receive ticket response*/
.message {
    margin-bottom: 20px;
}

.message p {
    margin: 10px 0;
}

.button-container {
    text-align: center;
}

button {
    padding: 10px 20px;
    border: 1px solid black;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}


/*MIS HEADER*/
.modal-header img {
    background-image: url("assets/pic/head.png");
    background-repeat: no-repeat;  /* prevents repeating the image */
    background-position: center;  /* optional for centering */
    width: 100%;  /* ensures the header fills the width */
    height: 20vh;  /* sets the height to 100% viewport height (full screen) */
  }
  
/*MIS HEADER CENTER*/
  .container-center {
    margin: 0 auto;  /* Centers the element horizontally */
    width: 70%;  /* Adjust width as needed */
  }
  
