
/*=============================================================
    Authour URI: www.binarycart.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
/*==============================================
    GENERAL  STYLES    
    =============================================*/
body {
    font-family: 'Open Sans', sans-serif;
}

 #wrapper {
    width: 100%;
    background:#202020;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background:#F3F3F3;
   
}
#page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:#fff!important;
    padding:10px;
    min-height:1200px;
    border-radius: 10px;
}

.text-center {
    text-align:center;
}
.no-boder {
    border:1px solid #f3f3f3;
}
h2 {
    color: #f00;
}
h4 {
    padding-top:10px;
}
.square-btn-adjust {
    border: 0px solid transparent; 
   -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;

}
p {
    font-size:16px;
    line-height:5px;
    padding-top:20px;
}
/*==============================================
   DASHBOARD STYLES    
    =============================================*/
.panel-back {
    background-color:#F8F8F8;

}
   .noti-box {

min-height: 75px;
padding: 15px;
line-height: 50px;
}

    .noti-box .icon-box {
display: block;
float: left;
margin: 0 10px 10px 0;
width: 45px;
height: 45px;
line-height: 50px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}
.text-box p{
    margin: 0 0 0px;
}
.main-text {
    font-size: 18px;
    font-weight:600;
}
.set-icon {
    -webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;

}
    .bg-color-green {
background-color: #00CE6F;
color: #fff;
}
 .bg-color-blue {
background-color: #A95DF0;
color: #fff;
}
  .bg-color-red {
background-color: #DB0630;
color: #fff;
}
.bg-color-brown {
    background-color: #B94A00;
    color: #fff;
    }
    .bg-color-black {
        background-color: #000000;
        color: #fff;
        }
        .bg-color-yellow {
            background-color: #f3f315;
            color: #fff;
            }  
            .bg-color-orange {
                background-color: #ff8c00;
                color: #fff;
                }



 .icon-box-right {
display: block;
float: right;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}

 .main-temp-back {
background: #8702A8;
color: #FFFFFF;
font-size: 16px;
font-weight: 300;
text-align: center;
}
 .main-temp-back .text-temp {
font-size: 40px;
}
.back-dash {
    padding:20px;
    font-size:20px;
    font-weight:500;
      -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
background-color:#2EA7EB;
color:#fff;
}
    .back-dash p {
        padding-top:16px;
        font-size:13px;
        color:#fff;
        line-height:25px;
        text-align:justify;
    }
    .back-footer-green {
    background-color: #009B50;
    border-top: 0px solid #fff;
}
     .back-footer-red {
    background-color: #AF0000;
    border-top: 0px solid #fff;
}
     .color-bottom-txt {
   color: #000;
font-size: 16px;
line-height: 30px;
}

/*==============================================
    MENU STYLES    
    =============================================*/


.user-image {
    margin: 25px auto;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
max-height:170px;
max-width:170px;
}

.navbar-cls-top .navbar-brand {
	color: #fff;
background: #A70303;
width: 210px;
text-align: center;
height: 60px;
font-size: 30px;
font-weight: 700;
}
.active-menu {
    background-color:#C90000!important;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}
.sidebar-collapse , .sidebar-collapse .nav{
	background:none;
}
.sidebar-collapse .nav {
	padding:0;
}
.sidebar-collapse .nav > li > a {
	color:#fff;
	background:#202020;
	text-shadow:none;
	
}
.sidebar-collapse > .nav > li > a {
	padding:15px 10px;
}
.sidebar-collapse > .nav > li {
	border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	
	background:#0A0A0A;
	outline:0;
}

.nav-second-level > li > a:before ,
.nav-third-level > li > a:before {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:15px;
	height:1px;
	background:#ff0000;
	top:20px;
}
.nav-second-level > li > a:after,
.nav-third-level > li > a:after {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:1px;
	height:100%;
	background:#ff0000;
	top:0px;
	z-index:10;
}
.nav-second-level  > li:last-child > a:after,
.nav-third-level  > li:last-child > a:after {
	height:50%;
}
.nav-third-level > li > a:after,
.nav-third-level > li > a:before  {
	left:40px;
}
.navbar-side {
	border:none;
	background-color: #202020;
	
}
.navbar-cls-top {
	background:#4D4D4D;
	border-bottom:none;
	
}
.navbar-cls-top .navbar-brand:hover {

background: #C90000;
color:#fff;

}

.navbar-default {
border:0px solid black;
     
}
.navbar-header {
    background: #A70303;
}


.ticket-dropdown-menu {
    display: none; /* Hidden by default */
}

.ticket-dropdown-menu.show {
    display: block; /* Shown when 'show' class is added */
}



.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #C90000;
}
.navbar-default .navbar-toggle {
border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #FFF;
}
.nav > li > a > i {
    margin-right:10px;
}
/*==============================================
    UI ELEMENTS STYLES     
    =============================================*/
.btn-circle {
width: 50px;
height: 50px;
padding: 6px 0;
 -webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
text-align: center;
font-size: 12px;
line-height: 1.428571429;
}

/*==============================================
    MEDIA QUERIES     
    =============================================*/
 
 @media(min-width:760px) {
     #page-wrapper{
               margin: 0 0 0 210px;
        padding: 15px 30px;
        min-height: 1200px;
		
    }
	
	
    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 210px;
    }

   .navbar {
 border-radius: 0px; 
}
   
}

/* calendar 2 */

/* styles.css */


@media (max-width: 768px) {
    .table-calendar th,
    .table-calendar td {
      padding: 15px;
    }
  }
  
  @media (max-width: 480px) {
    .table-calendar {
      grid-template-columns: repeat(2, 1fr); /* Stack in 2 columns on smaller screens */
    }
  
    .table-calendar th,
    .table-calendar td {
      padding: 5px;
    }
  }

/* General styling for the entire page */
body {
	font-family: Arial, sans-serif;
	background-color: white;
	margin: 0;
}

.wrapper {
	max-width: 1100px;
	margin: 15px auto;
}

/* Calendar container */
.container-calendar {
	background: #ffffff;
	padding: 15px;
	max-width: 900px;
	margin: 0 auto;
	overflow: auto;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-between;
}

/* Event section styling */
#event-section {
	padding: 10px;
	background: #f5f5f5;
	margin: 20px 0;
	border: 1px solid #ccc;
}

.container-calendar #left h1 {
	color: green;
	text-align: center;
	background-color: #f2f2f2;
	margin: 0;
	padding: 10px 0;
}

#event-section h3 {
	color: green;
	font-size: 18px;
	margin: 0;
}

#event-section input[type="date"],
#event-section input[type="text"] {
	margin: 10px 0;
	padding: 5px;
	width: 80%;
}

#event-section button {
	background: green;
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
}

.event-marker {
	position: relative;
}

.event-marker::after {
	content: '';
	display: block;
	width: 6px;
	height: 6px;
	background-color: red;
	border-radius: 50%;
	position: absolute;
	bottom: 0;
	left: 0;
}

/* event tooltip styling */
.event-tooltip {
	position: absolute;
	background-color: rgba(234, 232, 232, 0.763);
	color: black;
	padding: 10px;
	border-radius: 4px;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: none;
	transition: all 0.3s;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.event-marker:hover .event-tooltip {
	display: block;
}

/* Reminder section styling */
#reminder-section {
	padding: 10px;
	background: #f5f5f5;
	margin: 20px 0;
	border: 1px solid #ccc;
}

#reminder-section h3 {
	color: green;
	font-size: 18px;
	margin: 0;
}

#reminderList {
	list-style: none;
	padding: 0;
}

#reminderList li {
	margin: 5px 0;
	font-size: 16px;
}

/* Style for the delete buttons */
.delete-event {
	background: rgb(237, 19, 19);
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	margin-left: 10px;
	align-items: right;
}

/* Buttons in the calendar */
.button-container-calendar button {
	cursor: pointer;
	background: green;
	color: #fff;
	border: 1px solid green;
	border-radius: 4px;
	padding: 5px 10px;
}

/* Calendar table */
.table-calendar {
	border-collapse: collapse;
	width: 100%;
}

.table-calendar td,
.table-calendar th {
	padding: 39px;
	border: 1px solid #e2e2e2;
	text-align: center;
	vertical-align: top;
}

/* Date picker */
.date-picker.selected {
	background-color: #f2f2f2;
	font-weight: bold;
	outline: 1px dashed #00BCD4;
}

.date-picker.selected span {
	border-bottom: 2px solid currentColor;
}

/* Day-specific styling */
.date-picker:nth-child(1) {
	color: red;
	/* Sunday */
}

.date-picker:nth-child(7) {
	color: red;
	/* Friday */
}

/* Hover effect for date cells */
.date-picker:hover {
	background-color: green;
	color: white;
	cursor: pointer;
}

/* Header for month and year */
#monthAndYear {
	text-align: center;
	margin-top: 0;
}

/* Navigation buttons */
.button-container-calendar {
	position: relative;
	margin-bottom: 1em;
	overflow: hidden;
	clear: both;
}

#previous {
	float: left;
}

#next {
	float: right;
}

/* Footer styling */
.footer-container-calendar {
	margin-top: 1em;
	border-top: 1px solid #dadada;
	padding: 10px 0;
}

.footer-container-calendar select {
	cursor: pointer;
	background: #ffffff;
	color: #585858;
	border: 1px solid #bfc5c5;
	border-radius: 3px;
	padding: 5px 1em;
}







.rating-bar {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /
}

.rating-label {
  
    margin-right: -30px;
}

.rating-count {
    margin-left: 10px;
}

.progress-container {
    flex-grow: 1; 
    border-radius: 10px;
}

.progress-bar {
    width: 22.8%; /* Adjust based on rating */
    background-color: #ff9900;
    height: 20px; /* Adjust height as needed */
    border-radius: 10px;
}

.csat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .csat-label {
    color: #5cb85c; /* Light green color for the label */
    font-size: 23px;
    margin-bottom: 6px;
  }
  
  .csat-percentage {
    font-size: 83px; /* Large font size for the percentage */
    font-weight: bold;
    color: #333; /* Dark gray color for the percentage */
  }

  #npsContainer {
    font-family: sans-serif; /* Or your preferred font */
  }
  
  .nps-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* Adjust spacing as needed */
  }
  
  .nps-label {
    width: 100px; 
    margin-right: 10px;
  }
  
  .nps-progress-container {
    flex-grow: 1;
    margin-right: 30px;
    background-color: #f2f2f2;
    border-radius: 10px;
    
  }
  
  .nps-progress-bar {
    height: 15px;
    border-radius: 10px;
    flex: 1;
    background: #f0f0f0;
    position: relative;

    
  }
  
  /* Emojis (you might use image icons instead) */
  .nps-emoji {
    font-size: 30px; /* Adjust size as needed */
    margin-right: 20px;
  }

  .nps-rating-count {
    width: 50px;
}


  .rating-bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 0px;
}
.rating-label {
    width: 150px;
    margin-left: 15px;
}
.progress-container {
    flex: 1;
    background: #f0f0f0;
    margin: 0 10px;
    position: relative;
    height: 15px;
    
}
.progress-bar {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.rating-count {
    width: 50px;
}



.scrollable-panel {
    height: 350px;
    overflow-y:scroll;
    overflow-x:hidden;

}


.event {
    background-color: #ffd700;
    padding: 2px;
    border-radius: 3px;
    margin-top: 2px;
    font-size: 0.8em;
}



.asidebar{
    width: 50px;
    height: 100vh;
    display: grid;
    justify-content: center;
    background: black;
    overflow-x: hidden;
    transition: all .5s;
}

.asidebar a{
    display: grid;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: gray;
    font-weight: bold;
    font-size: 1.5rem;
    grid-template-columns: 50px 1fr;
}
.asidebar span.number{
    width: 50px;
    text-align: center;
}
.asidebar span.text{
    font-size: 1rem;
    display: none;
    height: 20px;
    padding: 5px;
    color: rgba(25, 190, 25, 0.356);
    border-left: 1px solid rgba(255, 255, 255, 0.089);
    margin-bottom: 5px;
}

.asidebar-btn{
    background:gray;
    width: 30px;
    height: 30px;
    display: grid;
    padding: 2px;
    justify-self: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 5px;
}
.asidebar.open .sidebar-btn{
    justify-self: right;
}
.asidebar-btn span{
    width: 95%;
    height: 5px;
    display: block;
    border-radius: 1px;
    background: rgba(0, 0, 0, 0.918);
}
.asidebar.open{
    width: 250px;
}
.asidebar.open span.text{
    display: inline-block;
}
.acontent{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.acontent p{
    font-size: 1rem;

}